html,body{width: 100%;height: 100%}
body{background: url("../img/content13.jpg") no-repeat fixed 0 0 / 100% auto}
.container1{background: #333;opacity: 0.8;color: #fff;height: 500px;width: 100%;padding-top: 100px}
.container1 p{width: 60%;font-size: 30px;text-align: center;margin: 0 auto;line-height: 90px;}
.container{background: #fff;opacity: 0.9;height: 1000px}
.header{height: 80px;background: #333;opacity: 0.9;width: 100%; box-shadow: 0 0 5px #222;}
.navbar {
    border-radius: 0;
    margin: 0 auto;
    min-width: 300px;
    width: 60%;height: 100%;
}
.navbar-default{border: 0;background: #333}
.navbar-brand{font-size: 30px;line-height: 41px}
.navbar-nav > li > a{font-size: 30px;
   padding: 28px 35px 32px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	  background-color: #fff;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.page1{background: #d582e4}
.page2{background: #c4f7ef}
.page3{background: #438fdd}
